.open-sans {
	font-family: 'Open Sans', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}
/* shared style  */
* {
	box-sizing: border-box;
}
.btn {
	padding: 16px 18px;
	background-color: #0af5fd;
	color: #fff;
	border: none;
	font: 800;
	font-size: 20px;
	border-radius: 8px;
	cursor: pointer;
}
.bg-secondary {
	background-color: #fff8f3;
}
.text-center {
	text-align: center;
}
.section-title {
	font-size: 35px;
	font-weight: 700;
}

.section-description {
	font-size: 18px;
	color: #757575;
}

main {
	max-width: 1140px;
	margin: 0 auto;
}
.btn-left {
	margin-right: 10px;
}
.header {
	background-color: #fff8f3;
	background-image: url('../images/developer.png'),
		url('../images/header_bg.png');
	background-position: top left, bottom right;
	background-repeat: no-repeat;
}

/* Navbar Style */

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto;
}

nav ul {
	display: flex;
	gap: 30px;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: rgb(71, 71, 71);
}

.logo-text {
	font-size: 45px;
	font-weight: 800;
}
.marry {
	color: #fd6e0a;
}
.banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 70px 0 70px;
}

.banner-content {
	max-width: 585px;
}

.banner-greetings {
	font-size: 45px;
	color: rgb(71, 71, 71);
}
.banner-title {
	font-size: 85px;
	font-weight: 700;
}

.banner-image {
	max-width: 584px;
}

/* About Section Style */
.about-section {
	padding: 131px 156px;
	margin: 130px 0;
	border-radius: 10px;
}
.about-title {
	font-size: 35px;
	font-weight: 700;
}
.about-me {
	display: flex;
	justify-content: space-between;
}

.about-description {
	color: #757575;
}
.about-container {
	max-width: 827px;
	margin: 0 auto;
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
}

.skill {
	max-width: 900px;
	margin: 0 auto;
}
.skill-title {
	font-size: 35px;
	font-weight: 700;
}
.skill-card {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.card {
	width: 267px;
	height: 377px;
	padding: 30px 32px;
	background: white;
	color: #757575;
	/* border: 1px solid #757575;
	border-radius: 10px; */
	box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.05);
}

/* Resume section Style */
.resume-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.resume-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.education-title {
	font-size: 30px;
	font-size: 700;
	color: #474747;
}
.education-sub-heading {
	font-size: 25px;
	font-size: 700;
	color: #474747;
}

.eduction-sub-heading-2 {
	font-size: 20px;
	font-weight: 600;
	color: #757575;
}

.education-description {
	color: #757575;
	font-size: 16px;
	font-weight: 400;
}
/* .download-btn {
	margin: 0 auto;
} */
/* .education-container-1,
.education-container-2,
.experience-container-1,
.experience-container-2 {
	border-bottom: 2px solid #757575;
} */

/* Footer Section Style */

.footer-section {
	display: flex;
	justify-content: space-between;
	background-color: #fff8f3;
	padding: 150px 150px;
	gap: 50px;
}

.icon {
	font-size: 30px;
	color: #fd6e0a;
}

.form-section {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
footer input[type='text'],
footer input[type='email'],
footer textarea {
	height: 64px;
	border-radius: 5px;
	background-color: white;
	border: none;
}
